div {
    width: 300px;
    height: 25px;
    background-color: #244464;
    color: orange;
    margin-bottom: 25px;
    padding: 5px 20px;
}
#result {
    font-size: 1.2rem;
}

#btn-container {
    text-align: center;
    background-color: transparent;
}
input {
  border: none;
    background-color: transparent;
    vertical-align: sub;
    color: inherit;
}
input:focus {
    outline: 0;
}

button {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #222;
    font-size: 1.2rem;
    font-family: serif;
    cursor: pointer;
}