body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1 {
   font-size: 1.2rem;
}
label {
    display: block;
}

label span {
    color: red;
}

input {
    margin-bottom: 5px;
}
#main-form label:last-child {
    display: inline;
}
